/* Colour variables for FAQSection component */
:root {
    --background: #0e091b;
    --primary: rgb(1, 214, 9);
    --trigger: #29243c;
}

.project-list {
    display: grid;
    gap: 0.5em
}

@media only screen and (min-width: 1200px) {
    .project-list {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .project-ways {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.project-card {
    padding: 1em;
    background-color: #0A0D2A;
    color: white;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    gap: 1em;
    font-weight: bold;
}

.project-card:hover {
    border: 0.3em #34CD3C solid;
    padding: 0.75em;
}

.project-card:hover .project-badge {
    color: white
}

.project-ways {
    display: grid;
    gap: 0.5em;
}

.project-ways>div {
    background-color: #212154;
    color: white;
    padding: 1em;
    border-radius: 0.5em;
    text-align: center;
    font-weight: bold;
}

.project-title {
    display: flex;
    flex-direction: column;
    gap: 0.3em
}

@media screen and (min-width: 1800px) {
    .project-title {
        flex-direction: row;
        gap: 0.6em;
    }
}

.project-flow {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1200px) {
    .project-flow {
        flex-direction: column;
        gap: 0.6em;
    }

    .project-flow>img {
        width: 100%;
    }
}

@media screen and (min-width: 1200px) {
    .project-flow {
        flex-direction: row;
        gap: 0.6em;
    }

    .project-flow>img {
        width: 50%
    }
}
